//ultil
.hidden
	width: 0 !important
.data-toggle
	display: none
.vertical-center
	+vertical-center

//style
body
	color: $color4
*:focus
	outline: 0

.first-half, .second-half
	float: left
	height: 100%
	width: 50%
	cursor: pointer
	overflow: hidden
	position: relative
	+transition-duration(0.4s)
	+transition-timing-function(ease-out)
	.section-cover
		height: 100%
		width: 100%
		position: absolute
		top: 0
		+preserve3d
		+transition-duration(0.4s)
		+transition-timing-function(ease-out)
	.section-content
		width: 100%
		height: 100%
		position: absolute
		z-index: 1
		top: 0
		overflow: hidden
		+transition-duration(0.4s)
		+transition-timing-function(ease-out)
	.title
		margin: 0
		line-height: 64px
	.visual
		display: block
		margin: 0
		span.invi
			color: transparent
		img
			height: auto
			max-width: 100%
			+transition-duration(0.4s)
			+transition-timing-function(ease-out)
			+transition-delay(0.4s)
	&.open
		width: 91.66667%
		cursor: default
	&.closed
		width: 8.33333%
	+media-portrait($grid-max-width)
		width: 100%
		height: 50%
		&.open
			width: 100%
			height: 90%
		&.closed
			width: 100%
			height: 10%

//-----------------------------------------------------------------------------
//------------------------------------FIRST HALF-------------------------------
//-----------------------------------------------------------------------------
.first-half
	background: $color1
	.logo-candy, .logo-bee
		display: inline-block
		height: 64px
		background: url(../img/logobee_64.png) no-repeat
	.logo-candy
		width: 167px
		background-position: 0px 0px
	.logo-bee
		width: 78px
		background-position: -167px 0px
	.logo-info
		vertical-align: bottom
		line-height: 52px
		font-family: 'UTM'
	.section-content
		left: -100%
	.section-cover
		left: 0
	.bee-content
		padding-left: 64px
		+media-portrait($grid-max-width)
			padding-left: 0
			padding-top: 64px

//first half open
.first-half.open
	.bee-control.open
		left: 0
	.section-cover.open
		left: 100%
	.section-content.open
		left: 0

//navigation
.bee-control
	position: fixed
	top: 0
	left: -100%
	margin: 0
	padding: 0
	+transition-duration(0.4s)
	+transition-timing-function(ease-out)
	li
		display: block
		height: 64px
		width: 64px
		&.info
			background: url(../img/icons/three_32.png) no-repeat center
		&.benefit
			background: url(../img/icons/heart_32.png) no-repeat center
		&.price
	li > span
		display: block
		margin: 0
		padding: 0
		width: 100%
		height: 100%
		color: transparent
		outline-color: transparent
		cursor: pointer
	+media-portrait($grid-max-width)
		li
			float: left
.admin-bar .bee-control
	top: 32px
	+max-screen($grid-max-width)
		top: 46px

//content
.bee-content-wrap
	margin: 0
	+box-sizing(border-box)
	#info-intro
		font-size: 20px
		padding: 15px

//-----------------------------------------------------------------------------
//------------------------------------SECOND HALF------------------------------
//-----------------------------------------------------------------------------
.second-half
	background: $color2
	.logo-honey
		display: inline-block
		height: 64px
		width: 67px
		background: url(../img/honey_64.png) no-repeat
		vertical-align: bottom
		margin-left: -18px
	.section-content
		right: -100%
	.section-cover
		right: 0

//second half open
.second-half.open
	.section-cover.open
		right: 100%
	.section-content.open
		right: 0