// trang listing
.primary-swap{
	width: 100%;
	margin: 0 auto;
	max-width: 1024px;
	background-color: #EEEEEE;
}
.size-img{
	position: relative;
	display:block;
	height:auto;
	a{
		img{
			height: auto;
		}
	}
	
}
.sidebar-cat{
	background-color: red;
	height: 500px;
	margin-top: 40px; 
}
.ul-cat-nav{
	list-style-type: none;
	height:auto;
	margin-left: 0;
}
.listing-cat{
	display:block;
	height: auto;
	min-height: 220px;
    border-top: 3px solid #E6E6FA;
    border-bottom: 3px solid #E6E6FA;
    position:relative;
    @include max-screen(1024px){
    	margin-left: 15px;
    }
    .next-view{
		position: absolute;
		right: 0;
		bottom: 0;
		text-decoration: none;
		&:hover{
			color:$color6;
		}
	}	
}
.post-cat{
	height: auto;
	.title-post-cat{
		font-family: $san-pro;
		font-size: 24px;
		margin-bottom: 5px;
		a{
			text-decoration: none;
			font-weight: 900;
			&:hover{
				color: $colorTitle;
			}
		}

	}
	p{
		font-family: $san;
		font-size: 18px;
		color: black;
	}
	@include max-screen(1024px){
		.title-post-cat{
			font-size: 20px;
		}
		p{
			font-size: 16px;
		}
	}	
}

.screen-reader-text{
	display: none;
}
.nav-previous{
	width: auto;
	float: left;
}
.nav-next{
	width: auto;
	float: right;
}

//hexagon navigation

.nav-listing{
	height: 53px;
    position:relative;
    width: 44px;
    display: inline-block;
    border: solid 1px 1px 1px 1px;
	text-align: center;
}
.navigation{
	text-align: center;
	li{
		a{
			width: 20px;
			padding: 0;
			font-size: 15px;
			font-weight: 900;
			.next{
				padding: 0;
			}
			@include min-screen(1024px){
				&:hover{
					color : $color6 !important;
				}
			}
		}
		.current{
			padding: 12px 8px;
			color: $color3 !important;
			font-size: 15px;
			font-weight: 900;
		}
	}
		
}

.page-numbers{
	z-index: 2;
	position: relative;	
	color: $color7 !important;
}

.hexagon {
	position: relative;
	@include min-screen(1024px){
		width: 45.6px; 
	}
	@include max-screen(1024px){
		width: 44.9px; 
	}
	height: 25.98px;
	background-color: $color1;
	margin: 12.99px 0;
	border-left: solid 3px #333333;
	border-right: solid 3px #333333;
	
}

.hexagon:before,
.hexagon:after {
	content: "";
	position: absolute;
	z-index: 1;
	width: 31.82px;
	height: 31.82px;
	-webkit-transform: scaleY(0.5774) rotate(-45deg);
	-o-transform: scaleY(0.5774) rotate(-45deg);
	-ms-transform: scaleY(0.5774) rotate(-45deg);
	transform: scaleY(0.5774) rotate(-45deg);
	-moz-transform: scaleY(0.5774) rotate(-45deg);
	background-color: inherit;
	left: 4.1px;
	@include max-screen(1024px){
		left: 3.95px;
	}
}

.hexagon:before {
  top: -15.9099px;
  border-top: solid 4.2426px #333333;
  border-right: solid 4.2426px #333333;
}

.hexagon:after {
  bottom: -15.9099px;
  border-bottom: solid 4.2426px #333333;
  border-left: solid 4.2426px #333333;
}
