//second-half
$hex-height : 150px;
$margin-tb: 9px;
$margin-rl: 3px; 
$max-width-1900: 900px;
$max-width-1200: 800px;
$max-width-1024: 680px;
$max-width-768: 600px;
$max-width-640: 480px;
$max-width-480: 300px;
$colorTitle: red;	

//header chung cho tat ca cac page
header{
	width: auto;
	.header-wrap{
		max-width: 1024px;
		margin: 0 auto;
	}
}

// body
@mixin size-post($max-width, $margin){
	width: $max-width / 3 - $margin * 2;
	height: ($max-width / 3 - $margin * 2) * 1.15;
	@content;
}

@mixin size-gap($max-width, $margin){
	margin-left: $max-width / 3 + $margin;
	@content;
}	
@mixin margin-post($margin){
	margin: $margin * 1.45 * -1 $margin;
	@content;
}

.title-second{
	font-family:UTM;
}
.post-block{
	width: 100%;
	float: left;
}
.post{
	position: relative;
	display: inline-block;
	@include min-screen(1200px){
		@include margin-post($margin-rl * 6){
			@include size-post($max-width-1900, $margin-rl * 6);
		}
	}
	@include max-screen(1200px){
		@include margin-post($margin-rl * 5){
			@include size-post($max-width-1200, $margin-rl * 5);
		}
	}
	@include max-screen(1024px){
		@include margin-post($margin-rl * 4.5){
			@include size-post($max-width-1024, $margin-rl * 4.5);
		}
	}
	@include max-screen(768px){
		@include margin-post($margin-rl * 4){
			@include size-post($max-width-768, $margin-rl * 4);
		}
	}
	@include max-screen(640px){
		@include margin-post($margin-rl * 3){
			@include size-post($max-width-640, $margin-rl * 3);
		}
	}
	@include phone(){
		@include margin-post($margin-rl * 2){
			@include size-post($max-width-480, $margin-rl * 2);	
		}
	}
}
.post-title{
	z-index: 9999;
	margin: 0;
	padding: 72px 5px;
	background-color: rgba(0,0,0,0.5);
	height: 100%;
	widows: 100%;
	font-size: 19px;
	&:hover{
	    @include transition-timing-function(ease-out);
 		@include transition-duration(0.5s);	
 		background-color: rgba(0,0,0,0);
	}
}
.post-listing-front{
	width: 100%;
	float: left;
}

.post-scroll{
	width: 100%;
	float: left;
}
.post-list{
	margin: 0 auto;
	padding-top: 50px;
	@include min-screen(1200px){
		width: $max-width-1900;
	}
	@include max-screen(1200px){
		width: $max-width-1200;
	}
	@include max-screen(1024px){
		width: $max-width-1024;
	}
	@include max-screen(768px){
		width: $max-width-768;
	}
	@include max-screen(640px){
		width: $max-width-640;
	}
	@include phone(){
		width: $max-width-480;
	}
}
.post-title-bg{
	position: absolute;
	top:0;
	@include min-screen(1200px){
		@include size-post($max-width-1900,$margin-rl * 6);
	}
	@include max-screen(1200px){
		@include size-post($max-width-1200,$margin-rl * 5);
	}
	@include max-screen(1024px){
		@include size-post($max-width-1024,$margin-rl * 4.4);
	}
	@include max-screen(768px){
		@include size-post($max-width-768,$margin-rl * 4);
	}
	@include max-screen(640px){
		@include size-post($max-width-640,$margin-rl * 3);
	}
	@include phone(){
		@include size-post($max-width-480,$margin-rl * 2);
	}
}    
.img-default{
	background-image:url(../img/bee_64.png);
	background-color: $color3;
}
.img-loading{
	background-color: $color3;
	background-image:url(../img/loading.gif);
	img{
		opacity: 0;
	}
}
.hex-gap {
    @include min-screen(1200px){
    	@include size-gap($max-width-1900 / 2, $margin-rl * 6);
    }
    @include max-screen(1200px){
    	@include size-gap($max-width-1200 / 2, $margin-rl * 5);
    }
    @include max-screen(1024px){
    	@include size-gap($max-width-1024 / 2, $margin-rl * 4.5);
    }
    @include max-screen(768px){
    	@include size-gap($max-width-768 / 2, $margin-rl * 4);
    }
    @include max-screen(640px){
    	@include size-gap($max-width-640 / 2, $margin-rl * 3);
    }
	@include phone(){
		@include size-gap($max-width-480 / 2, $margin-rl * 2);
	}
}

.hexagon-post {
	position: absolute;
	@include min-screen(1200px){
		@include size-post($max-width-1900,$margin-rl * 6);
	}
	@include max-screen(1200px){
		@include size-post($max-width-1200,$margin-rl * 5);
	}
	@include max-screen(1024px){
		@include size-post($max-width-1024,$margin-rl * 4.5);
	}
	@include max-screen(768px){
		@include size-post($max-width-768,$margin-rl * 4);
	}
	@include max-screen(640px){
		@include size-post($max-width-640,$margin-rl * 3);
	}
	@include phone(){
		@include size-post($max-width-480,$margin-rl * 2);
	}
}

.hexagon-help {
	overflow: hidden;
	visibility: hidden;
	cursor: pointer;
	@include transform(rotate(120deg));
}

.hexagon-in1 {
	overflow: hidden;
	width: 100%;
	height: 100%;
	@include transform(rotate(-60deg));
}

.hexagon-in2 {
	overflow: hidden;
	@include box-sizing(border-box);
	display: block;
	padding: 0px;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: 50%;
	visibility: visible;
	position: relative;
	@include transform(rotate(-60deg));
}

/* Effect 2: 3D rolling links, idea from http://hakim.se/thoughts/rolling-links */
.view-more{
	@include button;
}
.view-more-container{
	width: 100%;
	margin: 40px 0 40px 0;
	float: left;
	text-align: center;
}
.view-more-wrap{
	width: 100px;
	cursor: pointer;
	text-align: center;
	display: inline-block;
}
.effect-button-3d span {
	position: relative;
	display: inline-block;
	padding: 0 14px;
	background: $color7;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform-origin: 50% 0;
	-moz-transform-origin: 50% 0;
	transform-origin: 50% 0;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.effect-button-3d span::before {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	background: $color7;
	content: attr(data-hover);
	-webkit-transition: background 0.3s;
	-moz-transition: background 0.3s;
	transition: background 0.3s;
	-webkit-transform: rotateX(-90deg);
	-moz-transform: rotateX(-90deg);
	transform: rotateX(-90deg);
	-webkit-transform-origin: 50% 0;
	-moz-transform-origin: 50% 0;
	transform-origin: 50% 0;
	cursor: pointer;
}

.effect-button-3d:hover span
{
	@include transform(rotateX(90deg) translateY(-22px));
}
.effect-button-3d:hover span::before,
.effect-button-3d:focus span::before {
	background: $color7;
}