//second-half
$hex-height : 150px;
$margin-tb: 9px;
$margin-rl: 3px; 
$max-width-1900: 900px;
$max-width-1200: 800px;
$max-width-1024: 680px;
$max-width-768: 600px;
$max-width-640: 480px;
$max-width-480: 300px;
$colorTitle: red;	

@mixin size-post($max-width, $margin){
	width: $max-width / 3 - $margin * 2;
	height: ($max-width / 3 - $margin * 2) * 1.15;
	@content;
}

@mixin size-gap($max-width, $margin){
	margin-left: $max-width / 3 + $margin;
	@content;
}	
@mixin margin-post($margin){
	margin: $margin * 1.45 * -1 $margin;
	@content;
}
.title-second{
	font-family:UTM;
}
.post-block{
	width: 100%;
	float: left;
}
.view-more{
	@include button;
}
.view-more-wrap{
	margin: 40px 0 40px 0;
	width: 100%;
	float: left;
}
.post{
	position: relative;
	display: inline-block;
	@include min-screen(1200px){
		@include margin-post($margin-rl * 6){
			@include size-post($max-width-1900, $margin-rl * 6)
		}
	}
	@include max-screen(1200px){
		@include margin-post($margin-rl * 5){
			@include size-post($max-width-1200, $margin-rl * 5)
		}
	}
	@include max-screen(1024px){
		@include margin-post($margin-rl * 4.5){
			@include size-post($max-width-1024, $margin-rl * 4.5)
		}
	}
	@include max-screen(768px){
		@include margin-post($margin-rl * 4){
			@include size-post($max-width-768, $margin-rl * 4)
		}
	}
	@include max-screen(640px){
		@include margin-post($margin-rl * 3){
			@include size-post($max-width-640, $margin-rl * 3)
		}
	}
	@include phone(){
		@include margin-post($margin-rl * 2){
			@include size-post($max-width-480, $margin-rl * 2)	
		}
	}
}
.post-title{
	z-index: 9999;
	margin: 0;
	padding: 0 5px;
	background-color: rgba(0,0,0,0.4);
	height:100px;
	// background-image:url(../img/bg-title.png);
	font-size: 19px;
	@include max-screen(768px){
		font-size: 16px;
		padding:0 4px;
	}
	@include max-screen(640px){
		font-size: 14px;
		padding:0 3.5px;
	}
	@include max-screen(480px){
		font-size: 11px;
		padding: 0 3px;
	}

}
.post-listing{
	width: 100%;
	float: left;
}

.post-scroll{
	width: 100%;
	float: left;
}
.post-list{
	margin: 0 auto;
	padding-top: 50px;
	@include min-screen(1200px){
		width: $max-width-1900;
	}
	@include max-screen(1200px){
		width: $max-width-1200;
	}
	@include max-screen(1024px){
		width: $max-width-1024;
	}
	@include max-screen(768px){
		width: $max-width-768;
	}
	@include max-screen(640px){
		width: $max-width-640;
	}
	@include phone(){
		width: $max-width-480;
	}
}
.post-title-bg{
	position: absolute;
	top:0;
	@include min-screen(1200px){
		@include size-post($max-width-1900,$margin-rl * 6)
	}
	@include max-screen(1200px){
		@include size-post($max-width-1200,$margin-rl * 5)
	}
	@include max-screen(1024px){
		@include size-post($max-width-1024,$margin-rl * 4.4)
	}
	@include max-screen(768px){
		@include size-post($max-width-768,$margin-rl * 4)
	}
	@include max-screen(640px){
		@include size-post($max-width-640,$margin-rl * 3)
	}
	@include phone(){
		@include size-post($max-width-480,$margin-rl * 2)
	}
}    
.img-default{
	background-image:url(../img/bee_64.png);
	background-color: $color3;
}
.img-loading{
	background-color: $color3;
	background-image:url(../img/loading.gif);
	img{
		opacity: 0;
	}
}
.hex-gap {
    @include min-screen(1200px){
    	@include size-gap($max-width-1900 / 2, $margin-rl * 6)
    }
    @include max-screen(1200px){
    	@include size-gap($max-width-1200 / 2, $margin-rl * 5)
    }
    @include max-screen(1024px){
    	@include size-gap($max-width-1024 / 2, $margin-rl * 4.5)
    }
    @include max-screen(768px){
    	@include size-gap($max-width-768 / 2, $margin-rl * 4)
    }
    @include max-screen(640px){
    	@include size-gap($max-width-640 / 2, $margin-rl * 3)
    }
	@include phone(){
		@include size-gap($max-width-480 / 2, $margin-rl * 2)
	}
}

.hexagon2 {
	position: absolute;
	@include min-screen(1200px){
		@include size-post($max-width-1900,$margin-rl * 6)
	}
	@include max-screen(1200px){
		@include size-post($max-width-1200,$margin-rl * 5)
	}
	@include max-screen(1024px){
		@include size-post($max-width-1024,$margin-rl * 4.5)
	}
	@include max-screen(768px){
		@include size-post($max-width-768,$margin-rl * 4)
	}
	@include max-screen(640px){
		@include size-post($max-width-640,$margin-rl * 3)
	}
	@include phone(){
		@include size-post($max-width-480,$margin-rl * 2)
	}
}

.hexagon {
	overflow: hidden;
	visibility: hidden;
	cursor: pointer;
	@include transform(rotate(120deg))
	
}

.hexagon-in1 {
	overflow: hidden;
	width: 100%;
	height: 100%;
	@include transform(rotate(-60deg))
}

.hexagon-in2 {
	overflow: hidden;
	@include box-sizing(border-box);
	display: block;
	padding: 0px;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: 50%;
	visibility: visible;
	position: relative;
	@include transform(rotate(-60deg))
}
// trang listing
.primary-swap{
	width: 100%;
	margin: 0 auto;
	max-width: 960px;
}
.sidebar-cat{
	background-color: red;
	height: 500px;
	margin-top: 40px; 
}
.post-cat{
	list-style-type: none;
	height:auto;
	margin-left: 0;
}
.post2-listing{
	height:200px;
}
.title-post-cat{
	font-size: 24px;
	margin-bottom: 5px;
	a{
		text-decoration: none;
		&:hover{
			color: $colorTitle;
		}
	}

}

.screen-reader-text{
	display: none;
}
.nav-previous{
	width: auto;
	float: left;
}
.nav-next{
	width: auto;
	float: right;
}

.size-img{
	margin-top: 20px;
}
.hexagon2-mini {
	position: absolute;
	@include max-screen(1900px){
		@include size-post(550px, $margin-rl * 5)
	}
	@include max-screen(768px){
		@include size-post(400px, $margin-rl * 4)
	}
	@include max-screen(640px){
		@include size-post($max-width-640, $margin-rl * 3)
	}
	@include phone(){
		@include size-post($max-width-480, $margin-rl * 2)
	}
}

//trang single
body.single-post{
	height: 600px;
}
#header{
	.logo-header{
		h1{
			margin: 0;
		}
		.slogan{
			color: $color3;
			vertical-align: bottom;
			line-height: 52px;
			font-family: "UTM";
		}
	}
	.social-link{
		ul{
			margin: 0;
			float: right;
			li{
				float: left;
				display: block;
				width: 64px;
				height: 64px;
				margin-left: 5px;
				a{
					display: block;
					width: 100%;
					height: 50%;
					text-indent: -9999px;
					@include transition-duration(0.2s);
					margin-top: 32px;
					&.fb{
						background: url(../img/icons/facebook_64.png) no-repeat;
					}
					&.tw{
						background: url(../img/icons/twitter_64.png) no-repeat;
					}
					&.gg{
						background: url(../img/icons/google+_64.png) no-repeat;
					}
					&.yt{
						background: url(../img/icons/youtube_64.png) no-repeat;
					}
					&:hover{
						margin-top: 0;
						height: 100%;
					}
				}
			}
		}
	}
}
#primary{
	width: 80%; 
	margin: 50px auto;
	@include max-screen(480px){
		width: 100%;
	}
	#main{
		article{
			width: auto;
			height: auto;
			header{
				.entry-title{
					color: black;
				}
			}
			.entry-content{
				p{
					color: black;
				}
			}
		}
	}
	.sidebar{
		.ads{
			height: 100px;
			background-color: $color1;
		}
		.related{
			#yarpp_widget-2{
				h1{
					color: $color3;
				}
				.yarpp-related-widget{
					p{
						em{
							color: $color3;
						}
					}
				}
			}
		}
	}
}