//color variables
$color1: #4F3524 //light brown
$color2: #378b2e //green
$color3: #FF913F //orange
$color4: #ecf0f1 //white
$color5: #3B2313 //brown
$color6: #FBCE0A //yellow
$color7: #2D4471 //blue
$color8: #AAA838 //dark yellow

//font variables
$san-pro: 'Source Sans Pro', sans-serif
$san: 'Open Sans', sans-serif

//width
$mobile-nav-trigger-width: 960px