//color variables
$color1: #aa3e39 //red
$color2: #378b2e //green
$color3: #e57d04 //orange
$color4: #ecf0f1 //white
$color5: #3b2313 //brown

//font variables
$san-pro: 'Source Sans Pro', sans-serif
$san: 'Open Sans', sans-serif