@font-face {
    font-family: 'UTM';
    src: url('../fonts/utmcookies.eot');
    src: url('../fonts/utmcookies.eot') format('embedded-opentype'),
         url('../fonts/utmcookies.woff') format('woff'),
         url('../fonts/utmcookies.ttf') format('truetype'),
         url('../fonts/utmcookies.svg#UTMCookiesRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
